mport numpy as np
import matplotlib.pyplot as plt

#-----CLASSE PERE : LE CAPTEUR PHYSIQUE-------
class Capteur :
    def __init__(self, biais, bruit):
        self.biais = biais    # L'erreur fixe (ex: +1.8°C)
        self.bruit = bruit    # L'erreur qui bouge (aléatoire)

""" ÉTAPE 1 : Générer des mesures biaisées """
# Le capteur ajoute systématiquement un biais et un bruit aléatoir
     def donner_mesure(self, temperature_reelle):
erreur_aleatoire = np.random.normal(0, self.bruit)
return temperature_reelle + self.biais + erreur_aleatoire

# --- CLASSE FILLE : LE CORRECTEUR (Hérite de Capteur) ---
class Correcteur(Capteur):
    def __init__(self, biais, bruit):
        # On initialise les propriétés du père
        super().__init__(biais, bruit)
        self.correction = 0
    def calibrer(self):
        """ ÉTAPE 2 : Étude de l'erreur systhematique (Glace et Vapeur) """       
 # On utilise la méthode 'lire' du père pour tester les points fixes
        m0 = self.lire(0)      # Test dans la glace
        m100 = self.lire(100)  # Test dans l'eau bouillante
       
    self.correction = ( (m0 - 0) + (m100 - 100) ) / 2  # Calcul du décalage moyen
        print(f"Calibration faite. Correction mémorisée : -{self.correction:.3f}")
        def lire_propre(self, temp_reelle):
        """ ÉTAPE 3 : Ajustement du modèle """
        # On récupère la mesure brute du père et on applique la correction
        brute = self.lire(temp_reelle)
        return brute - self.correction
    # --- SIMULATION DU PROJET ---
# On règle le biais à 1.8 comme demandé
mon_systeme = Correcteur(biais=1.8, bruit=0.4)

# 1. Phase de calibration
mon_systeme.calibrer()

# 2. Collecte de données sur une plage de 10 à 50°C
temps_reelles = np.linspace(10, 50, 60)
brutes = [mon_systeme.donner_mesure(t) for t in temps_reelles]
propres = [mon_systeme.lire_propre(t) for t in temps_reelles]

# 3. ÉTAPE 4 : ÉVALUATION
err_avant = np.mean(np.abs(np.array(brutes) - temps_reelles))
err_apres = np.mean(np.abs(np.array(propres) - temps_reelles))

print(f"\nErreur moyenne initiale (Brute) : {err_avant:.3f} °C")
print(f"Erreur moyenne finale (Corrigée) : {err_apres:.3f} °C")

# Graphique
plt.figure(figsize=(10, 5))
plt.plot(temps_reelles, brutes, 'r+', alpha=0.6, label="Mesures Brutes (Biaisées)")
plt.plot(temps_reelles, propres, 'b.', label="Mesures Corrigées")
plt.plot(temps_reelles, temps_reelles, 'g--', linewidth=2, label="Température Réelle")
plt.xlabel("Température Réelle (°C)")
plt.ylabel("Température Mesurée (°C)")
plt.legend()
plt.title(f"Correction d'un biais systématique de {mon_systeme.biais}°C")
plt.grid(True, linestyle='--', alpha=0.7)
plt.show()



